html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,code,em,img,q,s,small,strong,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section{margin:0;padding:0;border:0;font-size:18px;font:inherit;vertical-align:baseline}
body{color:#696969/*#333*/;font-family:"ו",Arial;font-size:18px;line-height:1.5;background-color:#fff;padding-top: 60px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
select{margin-bottom:21px;max-width:100%;width:auto}
ul,ol{list-style-type:none;margin:0;padding:0}
dl{margin-bottom:10px}
dl dt{font-weight:bold;margin-top:10px}
dl dd{margin:0}
table{margin:10px 0;table-layout:fixed;width:100%}
th{border-bottom:1px solid #999;font-weight:600;padding:10px 0;text-align:left}
td{border-bottom:1px solid #ccc;padding:10px 0}
tr,td,th{vertical-align:middle}
html,body{width:100%;height:100%}
h1,h2,h3,h4,h5,h6{font-family:"ו",Arial;font-size:18px;line-height:1.2;margin:10px 0 10px 0;font-weight:300}
h1{font-size:32px}
h2{font-size:28px}
h3{font-size:21px}
h4,h5,h6{font-size:18px}

p{font-size:18px;margin:0 0 10px}
p.title{font-size:18px;font-weight:600;margin:20px 0 10px 0;}
p.sub{font-size:18px;margin:10px 18px;}

a{color:#696969;text-decoration:none;transition:color 150ms ease}
a:active,a:focus,a:hover{color:#000}

hr{border-bottom:1px solid #ccc;border-left:0;border-right:0;border-top:0;margin:21px 0}
img,picture{margin:0;max-width:100%}
strong{font-weight:bold}
em{font-style:italic}
ul,ol,dl{margin-top:0;margin-left:16px;margin-bottom:14px;list-style-type:square;list-style-position:outside;list-style-image:none}
*,*:before,*:after{box-sizing:border-box}
.clearfix,.post,.footer{*zoom:1}
.clearfix:before,.post:before,.footer:before{content:" ";display:table}
.clearfix:after,.post:after,.footer:after{content:" ";display:table;clear:both}
hr{border-top:none;border-bottom:2px solid #dedede;width:100%;margin:10px 0}

.post-item .date-label{float:right}

.container{width:970px;padding:0 15px;margin-right:auto;margin-left:auto;}

.header{margin-bottom:20px;height:50px;position: fixed;top: 0;right: 0;left: 0;z-index: 1030;background-color: #222;}
.header a{color:#9d9d9d;}
.header a:hover{color:#fff;}

.logo{float:left;}
.logo a{position:relative;display:block;margin-left:-15px;padding:6px 15px;font-family:sans-serif;font-size:24px;font-weight: 600;}
.logo a:hover{text-decoration:none}
.logo img{display:block}

.navbar{float:right;padding-right:15px;padding-left:15px;overflow-x:visible;}
.navbar ul{float:left;margin-right:-15px;list-style:none;}
.navbar li{display:inline-block;}
.navbar a{position:relative;display:block;padding:12px 15px;font-size:18px;}
.navbar a:focus, .navbar a:hover{text-decoration:none}

.category-title{padding:16px 0 8px 0;}
.category-title:first-child{margin-top:0}
.post-item{margin-bottom:8px;display:block}
.post-item .article-title{display:inline-block;width:85%;border-bottom:1px dashed #e6e6e6}
.post-item .date-label{border:1px solid #e6e6e6;padding:0 3px;margin-left:14px;margin-top:2px}
.post-meta{color:#999;text-transform:uppercase;display:inline-block;letter-spacing:1px;}

.footer{background-color:#f5f5f5;text-align: center;padding:10px 0;}
.footer small{display:inline-block;height:22px;font-size:14px;color:#808080;}
.footer .block{display:block;}
